.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.navbar {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

.brand {
    display: flex;
    align-items: center;
}

.logo {
    width: 70px;
    height: auto;
    margin-right: 10px; 
}

.navbar h1 {
    margin: 0;
    font-size: 1.5em;
}

.navbar nav ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar nav ul li a {
    color: white;
    text-decoration: none; 
    padding: 10px 15px;
    display: block;
}

.navbar nav ul li a:hover {
    background-color: #555;
}

main {
    padding: 20px;
}

.container {
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.image-container {
    text-align: center;
}


.image-container img {
    max-width: 100%; 
    height: 250px;
    margin-bottom: 10px; 
    object-fit: contain; 
}

.container-galeri {
            display: flex; 
            justify-content: center; 
            gap: 20px; 
        }
.circle-wrapper {
  width: 250px; 
  height: 250px; 
  border-radius: 50%; 
  overflow: hidden; 
  border: 3px solid #ddd; 
}

.circle-wrapper img {
  display: block; 
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}
